<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
            <key>NSExtensionActivationRule</key>
            <string>SUBQUERY (
                extensionItems,
                $extensionItem,
                SUBQUERY (
                $extensionItem.attachments,
                $attachment,
                (
                ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "unofficial.opml"
                || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.opml"
                || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "org.opml.opml"
                || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.audio"
                || ANY $attachment.registeredTypeIdentifiers UTI-CONFORMS-TO "public.movie"
                )
                ).@count == 1
                ).@count == 1
            </string>
		</dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.share-services</string>
	</dict>
</dict>
</plist>
