<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910146533958-2sssrok3g8rqakkit1bn136j8ccr8jch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910146533958-2sssrok3g8rqakkit1bn136j8ccr8jch</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>910146533958-1u698p2ntj9bf4h1kl5p8p8hdc1jqcqf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCE82rsD-VKUh4N8DDKB85zluy186edKNw</string>
	<key>GCM_SENDER_ID</key>
	<string>910146533958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.com.shiftyjelly.podcasts</string>
	<key>PROJECT_ID</key>
	<string>singular-vector-91401</string>
	<key>STORAGE_BUCKET</key>
	<string>singular-vector-91401.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:910146533958:ios:cf844de2510aeece</string>
	<key>DATABASE_URL</key>
	<string>https://singular-vector-91401.firebaseio.com</string>
</dict>
</plist>
