<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>au.com.shiftyjelly.podcasts.Refresh</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Pocket Casts</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>OPML Podcast File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>unofficial.opml</string>
				<string>public.opml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>XML Podcast file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.XML</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.audio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.3gpp</string>
				<string>public.3gpp2</string>
				<string>public.mpeg-4</string>
				<string>public.mp4</string>
				<string>public.avi</string>
				<string>com.apple.quicktime-movie</string>
				<string>public.mpeg</string>
				<string>public.movie</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-Classic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Classic20x20@2x~ipad</string>
					<string>AppIcon-Classic29x29~ipad</string>
					<string>AppIcon-Classic40x40@2x~ipad</string>
					<string>AppIcon-Classic83.5x83.5@2x~ipad</string>
					<string>AppIcon-Classic40x40~ipad</string>
					<string>AppIcon-Classic29x29@2x~ipad</string>
					<string>AppIcon-Classic60x60@2x</string>
					<string>AppIcon-Classic60x60@2x</string>
					<string>AppIcon-Classic60x60@3x</string>
					<string>AppIcon-Classic40x40@3x</string>
					<string>AppIcon-Classic29x29@2x</string>
					<string>AppIcon-Classic60x60@3x</string>
					<string>AppIcon-Classic20x20~ipad</string>
					<string>AppIcon-Classic76x76~ipad</string>
					<string>AppIcon-Classic76x76@2x~ipad</string>
					<string>AppIcon-Classic29x29@3x</string>
					<string>AppIcon-Classic20x20@2x</string>
					<string>AppIcon-Classic20x20@3x</string>
					<string>AppIcon-Classic40x40@2x</string>
				</array>
			</dict>
			<key>AppIcon-Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Dark60x60@3x</string>
					<string>AppIcon-Dark29x29@2x~ipad</string>
					<string>AppIcon-Dark40x40@3x</string>
					<string>AppIcon-Dark83.5x83.5@2x~ipad</string>
					<string>AppIcon-Dark60x60@2x</string>
					<string>AppIcon-Dark29x29@2x</string>
					<string>AppIcon-Dark76x76~ipad</string>
					<string>AppIcon-Dark20x20@3x</string>
					<string>AppIcon-Dark60x60@3x</string>
					<string>AppIcon-Dark40x40@2x</string>
					<string>AppIcon-Dark20x20@2x</string>
					<string>AppIcon-Dark20x20@2x~ipad</string>
					<string>AppIcon-Dark40x40~ipad</string>
					<string>AppIcon-Dark76x76@2x~ipad</string>
					<string>AppIcon-Dark20x20~ipad</string>
					<string>AppIcon-Dark29x29@3x</string>
					<string>AppIcon-Dark29x29~ipad</string>
					<string>AppIcon-Dark60x60@2x</string>
					<string>AppIcon-Dark40x40@2x~ipad</string>
				</array>
			</dict>
			<key>AppIcon-Electric-Blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Electric-Blue20x20@2x~ipad</string>
					<string>AppIcon-Electric-Blue29x29~ipad</string>
					<string>AppIcon-Electric-Blue40x40@2x~ipad</string>
					<string>AppIcon-Electric-Blue83.5x83.5@2x~ipad</string>
					<string>AppIcon-Electric-Blue40x40~ipad</string>
					<string>AppIcon-Electric-Blue29x29@2x~ipad</string>
					<string>AppIcon-Electric-Blue60x60@2x</string>
					<string>AppIcon-Electric-Blue60x60@2x</string>
					<string>AppIcon-Electric-Blue60x60@3x</string>
					<string>AppIcon-Electric-Blue40x40@3x</string>
					<string>AppIcon-Electric-Blue29x29@2x</string>
					<string>AppIcon-Electric-Blue60x60@3x</string>
					<string>AppIcon-Electric-Blue20x20~ipad</string>
					<string>AppIcon-Electric-Blue76x76~ipad</string>
					<string>AppIcon-Electric-Blue76x76@2x~ipad</string>
					<string>AppIcon-Electric-Blue29x29@3x</string>
					<string>AppIcon-Electric-Blue20x20@2x</string>
					<string>AppIcon-Electric-Blue20x20@3x</string>
					<string>AppIcon-Electric-Blue40x40@2x</string>
				</array>
			</dict>
			<key>AppIcon-Electric-Pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Electric-Pink20x20@2x~ipad</string>
					<string>AppIcon-Electric-Pink29x29~ipad</string>
					<string>AppIcon-Electric-Pink40x40@2x~ipad</string>
					<string>AppIcon-Electric-Pink83.5x83.5@2x~ipad</string>
					<string>AppIcon-Electric-Pink40x40~ipad</string>
					<string>AppIcon-Electric-Pink29x29@2x~ipad</string>
					<string>AppIcon-Electric-Pink60x60@2x</string>
					<string>AppIcon-Electric-Pink60x60@2x</string>
					<string>AppIcon-Electric-Pink60x60@3x</string>
					<string>AppIcon-Electric-Pink40x40@3x</string>
					<string>AppIcon-Electric-Pink29x29@2x</string>
					<string>AppIcon-Electric-Pink60x60@3x</string>
					<string>AppIcon-Electric-Pink20x20~ipad</string>
					<string>AppIcon-Electric-Pink76x76~ipad</string>
					<string>AppIcon-Electric-Pink76x76@2x~ipad</string>
					<string>AppIcon-Electric-Pink29x29@3x</string>
					<string>AppIcon-Electric-Pink20x20@2x</string>
					<string>AppIcon-Electric-Pink20x20@3x</string>
					<string>AppIcon-Electric-Pink40x40@2x</string>
				</array>
			</dict>
			<key>AppIcon-Halloween</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Halloween</string>
				</array>
			</dict>
			<key>AppIcon-Indigo</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Indigo20x20@2x~ipad</string>
					<string>AppIcon-Indigo29x29~ipad</string>
					<string>AppIcon-Indigo40x40@2x~ipad</string>
					<string>AppIcon-Indigo83.5x83.5@2x~ipad</string>
					<string>AppIcon-Indigo40x40~ipad</string>
					<string>AppIcon-Indigo29x29@2x~ipad</string>
					<string>AppIcon-Indigo60x60@2x</string>
					<string>AppIcon-Indigo60x60@2x</string>
					<string>AppIcon-Indigo60x60@3x</string>
					<string>AppIcon-Indigo40x40@3x</string>
					<string>AppIcon-Indigo29x29@2x</string>
					<string>AppIcon-Indigo60x60@3x</string>
					<string>AppIcon-Indigo20x20~ipad</string>
					<string>AppIcon-Indigo76x76~ipad</string>
					<string>AppIcon-Indigo76x76@2x~ipad</string>
					<string>AppIcon-Indigo29x29@3x</string>
					<string>AppIcon-Indigo20x20@2x</string>
					<string>AppIcon-Indigo20x20@3x</string>
					<string>AppIcon-Indigo40x40@2x</string>
				</array>
			</dict>
			<key>AppIcon-Plus</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Plus20x20@2x~ipad</string>
					<string>AppIcon-Plus29x29~ipad</string>
					<string>AppIcon-Plus40x40@2x~ipad</string>
					<string>AppIcon-Plus83.5x83.5@2x~ipad</string>
					<string>AppIcon-Plus40x40~ipad</string>
					<string>AppIcon-Plus29x29@2x~ipad</string>
					<string>AppIcon-Plus60x60@2x</string>
					<string>AppIcon-Plus60x60@2x</string>
					<string>AppIcon-Plus60x60@3x</string>
					<string>AppIcon-Plus40x40@3x</string>
					<string>AppIcon-Plus29x29@2x</string>
					<string>AppIcon-Plus60x60@3x</string>
					<string>AppIcon-Plus20x20~ipad</string>
					<string>AppIcon-Plus76x76~ipad</string>
					<string>AppIcon-Plus76x76@2x~ipad</string>
					<string>AppIcon-Plus29x29@3x</string>
					<string>AppIcon-Plus20x20@2x</string>
					<string>AppIcon-Plus20x20@3x</string>
					<string>AppIcon-Plus40x40@2x</string>
				</array>
			</dict>
			<key>AppIcon-Pocket-Cats</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Pocket-Cats20x20@2x~ipad</string>
					<string>AppIcon-Pocket-Cats29x29~ipad</string>
					<string>AppIcon-Pocket-Cats40x40@2x~ipad</string>
					<string>AppIcon-Pocket-Cats83.5x83.5@2x~ipad</string>
					<string>AppIcon-Pocket-Cats40x40~ipad</string>
					<string>AppIcon-Pocket-Cats29x29@2x~ipad</string>
					<string>AppIcon-Pocket-Cats60x60@2x</string>
					<string>AppIcon-Pocket-Cats60x60@2x</string>
					<string>AppIcon-Pocket-Cats60x60@3x</string>
					<string>AppIcon-Pocket-Cats40x40@3x</string>
					<string>AppIcon-Pocket-Cats29x29@2x</string>
					<string>AppIcon-Pocket-Cats60x60@3x</string>
					<string>AppIcon-Pocket-Cats20x20~ipad</string>
					<string>AppIcon-Pocket-Cats76x76~ipad</string>
					<string>AppIcon-Pocket-Cats76x76@2x~ipad</string>
					<string>AppIcon-Pocket-Cats29x29@3x</string>
					<string>AppIcon-Pocket-Cats20x20@2x</string>
					<string>AppIcon-Pocket-Cats20x20@3x</string>
					<string>AppIcon-Pocket-Cats40x40@2x</string>
				</array>
			</dict>
			<key>AppIcon-Radioactive</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Radioactive20x20@2x~ipad</string>
					<string>AppIcon-Radioactive29x29~ipad</string>
					<string>AppIcon-Radioactive40x40@2x~ipad</string>
					<string>AppIcon-Radioactive83.5x83.5@2x~ipad</string>
					<string>AppIcon-Radioactive40x40~ipad</string>
					<string>AppIcon-Radioactive29x29@2x~ipad</string>
					<string>AppIcon-Radioactive60x60@2x</string>
					<string>AppIcon-Radioactive60x60@2x</string>
					<string>AppIcon-Radioactive60x60@3x</string>
					<string>AppIcon-Radioactive40x40@3x</string>
					<string>AppIcon-Radioactive29x29@2x</string>
					<string>AppIcon-Radioactive60x60@3x</string>
					<string>AppIcon-Radioactive20x20~ipad</string>
					<string>AppIcon-Radioactive76x76~ipad</string>
					<string>AppIcon-Radioactive76x76@2x~ipad</string>
					<string>AppIcon-Radioactive29x29@3x</string>
					<string>AppIcon-Radioactive20x20@2x</string>
					<string>AppIcon-Radioactive20x20@3x</string>
					<string>AppIcon-Radioactive40x40@2x</string>
				</array>
			</dict>
			<key>AppIcon-Red-Velvet</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Red-Velvet20x20@2x~ipad</string>
					<string>AppIcon-Red-Velvet29x29~ipad</string>
					<string>AppIcon-Red-Velvet40x40@2x~ipad</string>
					<string>AppIcon-Red-Velvet83.5x83.5@2x~ipad</string>
					<string>AppIcon-Red-Velvet40x40~ipad</string>
					<string>AppIcon-Red-Velvet29x29@2x~ipad</string>
					<string>AppIcon-Red-Velvet60x60@2x</string>
					<string>AppIcon-Red-Velvet60x60@2x</string>
					<string>AppIcon-Red-Velvet60x60@3x</string>
					<string>AppIcon-Red-Velvet40x40@3x</string>
					<string>AppIcon-Red-Velvet29x29@2x</string>
					<string>AppIcon-Red-Velvet60x60@3x</string>
					<string>AppIcon-Red-Velvet20x20~ipad</string>
					<string>AppIcon-Red-Velvet76x76~ipad</string>
					<string>AppIcon-Red-Velvet76x76@2x~ipad</string>
					<string>AppIcon-Red-Velvet29x29@3x</string>
					<string>AppIcon-Red-Velvet20x20@2x</string>
					<string>AppIcon-Red-Velvet20x20@3x</string>
					<string>AppIcon-Red-Velvet40x40@2x</string>
				</array>
			</dict>
			<key>AppIcon-Round</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Round60x60@2x</string>
					<string>AppIcon-Round29x29@2x~ipad</string>
					<string>AppIcon-Round60x60@2x</string>
					<string>AppIcon-Round60x60@3x</string>
					<string>AppIcon-Round29x29@2x</string>
					<string>AppIcon-Round20x20@2x~ipad</string>
					<string>AppIcon-Round83.5x83.5@2x~ipad</string>
					<string>AppIcon-Round29x29@3x</string>
					<string>AppIcon-Round40x40@3x</string>
					<string>AppIcon-Round29x29~ipad</string>
					<string>AppIcon-Round60x60@3x</string>
					<string>AppIcon-Round76x76@2x~ipad</string>
					<string>AppIcon-Round40x40~ipad</string>
					<string>AppIcon-Round40x40@2x</string>
					<string>AppIcon-Round20x20@2x</string>
					<string>AppIcon-Round20x20~ipad</string>
					<string>AppIcon-Round40x40@2x~ipad</string>
					<string>AppIcon-Round20x20@3x</string>
					<string>AppIcon-Round76x76~ipad</string>
				</array>
			</dict>
			<key>AppIcon-Round-Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Round-Dark20x20@2x~ipad</string>
					<string>AppIcon-Round-Dark29x29~ipad</string>
					<string>AppIcon-Round-Dark40x40@2x~ipad</string>
					<string>AppIcon-Round-Dark83.5x83.5@2x~ipad</string>
					<string>AppIcon-Round-Dark40x40~ipad</string>
					<string>AppIcon-Round-Dark29x29@2x~ipad</string>
					<string>AppIcon-Round-Dark60x60@2x</string>
					<string>AppIcon-Round-Dark60x60@2x</string>
					<string>AppIcon-Round-Dark60x60@3x</string>
					<string>AppIcon-Round-Dark40x40@3x</string>
					<string>AppIcon-Round-Dark29x29@2x</string>
					<string>AppIcon-Round-Dark60x60@3x</string>
					<string>AppIcon-Round-Dark20x20~ipad</string>
					<string>AppIcon-Round-Dark76x76~ipad</string>
					<string>AppIcon-Round-Dark76x76@2x~ipad</string>
					<string>AppIcon-Round-Dark29x29@3x</string>
					<string>AppIcon-Round-Dark20x20@2x</string>
					<string>AppIcon-Round-Dark20x20@3x</string>
					<string>AppIcon-Round-Dark40x40@2x</string>
				</array>
			</dict>
			<key>AppIcon-Round-Pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Round-Pink20x20@2x~ipad</string>
					<string>AppIcon-Round-Pink29x29~ipad</string>
					<string>AppIcon-Round-Pink40x40@2x~ipad</string>
					<string>AppIcon-Round-Pink83.5x83.5@2x~ipad</string>
					<string>AppIcon-Round-Pink40x40~ipad</string>
					<string>AppIcon-Round-Pink29x29@2x~ipad</string>
					<string>AppIcon-Round-Pink60x60@2x</string>
					<string>AppIcon-Round-Pink60x60@2x</string>
					<string>AppIcon-Round-Pink60x60@3x</string>
					<string>AppIcon-Round-Pink40x40@3x</string>
					<string>AppIcon-Round-Pink29x29@2x</string>
					<string>AppIcon-Round-Pink60x60@3x</string>
					<string>AppIcon-Round-Pink20x20~ipad</string>
					<string>AppIcon-Round-Pink76x76~ipad</string>
					<string>AppIcon-Round-Pink76x76@2x~ipad</string>
					<string>AppIcon-Round-Pink29x29@3x</string>
					<string>AppIcon-Round-Pink20x20@2x</string>
					<string>AppIcon-Round-Pink20x20@3x</string>
					<string>AppIcon-Round-Pink40x40@2x</string>
				</array>
			</dict>
			<key>AppIcon-Halloween</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Halloween</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon29x29~ipad</string>
				<string>AppIcon60x60@3x</string>
				<string>AppIcon20x20@2x~ipad</string>
				<string>AppIcon29x29@2x</string>
				<string>AppIcon83.5x83.5@2x~ipad</string>
				<string>AppIcon60x60@2x</string>
				<string>AppIcon20x20@2x</string>
				<string>AppIcon20x20~ipad</string>
				<string>AppIcon40x40~ipad</string>
				<string>AppIcon29x29@3x</string>
				<string>AppIcon40x40@2x~ipad</string>
				<string>AppIcon40x40@3x</string>
				<string>AppIcon29x29@2x~ipad</string>
				<string>AppIcon1024x1024</string>
				<string>AppIcon20x20@3x</string>
				<string>AppIcon76x76~ipad</string>
				<string>AppIcon60x60@2x</string>
				<string>AppIcon40x40@2x</string>
				<string>AppIcon76x76@2x~ipad</string>
				<string>AppIcon60x60@3x</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-Classic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Classic20x20@2x~ipad</string>
					<string>AppIcon-Classic29x29~ipad</string>
					<string>AppIcon-Classic40x40@2x~ipad</string>
					<string>AppIcon-Classic83.5x83.5@2x~ipad</string>
					<string>AppIcon-Classic40x40~ipad</string>
					<string>AppIcon-Classic29x29@2x~ipad</string>
					<string>AppIcon-Classic60x60@2x</string>
					<string>AppIcon-Classic60x60@2x</string>
					<string>AppIcon-Classic60x60@3x</string>
					<string>AppIcon-Classic40x40@3x</string>
					<string>AppIcon-Classic29x29@2x</string>
					<string>AppIcon-Classic60x60@3x</string>
					<string>AppIcon-Classic20x20~ipad</string>
					<string>AppIcon-Classic76x76~ipad</string>
					<string>AppIcon-Classic76x76@2x~ipad</string>
					<string>AppIcon-Classic29x29@3x</string>
					<string>AppIcon-Classic20x20@2x</string>
					<string>AppIcon-Classic20x20@3x</string>
					<string>AppIcon-Classic40x40@2x</string>
				</array>
			</dict>
			<key>AppIcon-Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Dark60x60@3x</string>
					<string>AppIcon-Dark29x29@2x~ipad</string>
					<string>AppIcon-Dark40x40@3x</string>
					<string>AppIcon-Dark83.5x83.5@2x~ipad</string>
					<string>AppIcon-Dark60x60@2x</string>
					<string>AppIcon-Dark29x29@2x</string>
					<string>AppIcon-Dark76x76~ipad</string>
					<string>AppIcon-Dark20x20@3x</string>
					<string>AppIcon-Dark60x60@3x</string>
					<string>AppIcon-Dark40x40@2x</string>
					<string>AppIcon-Dark20x20@2x</string>
					<string>AppIcon-Dark20x20@2x~ipad</string>
					<string>AppIcon-Dark40x40~ipad</string>
					<string>AppIcon-Dark76x76@2x~ipad</string>
					<string>AppIcon-Dark20x20~ipad</string>
					<string>AppIcon-Dark29x29@3x</string>
					<string>AppIcon-Dark29x29~ipad</string>
					<string>AppIcon-Dark60x60@2x</string>
					<string>AppIcon-Dark40x40@2x~ipad</string>
				</array>
			</dict>
			<key>AppIcon-Electric-Blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Electric-Blue20x20@2x~ipad</string>
					<string>AppIcon-Electric-Blue29x29~ipad</string>
					<string>AppIcon-Electric-Blue40x40@2x~ipad</string>
					<string>AppIcon-Electric-Blue83.5x83.5@2x~ipad</string>
					<string>AppIcon-Electric-Blue40x40~ipad</string>
					<string>AppIcon-Electric-Blue29x29@2x~ipad</string>
					<string>AppIcon-Electric-Blue60x60@2x</string>
					<string>AppIcon-Electric-Blue60x60@2x</string>
					<string>AppIcon-Electric-Blue60x60@3x</string>
					<string>AppIcon-Electric-Blue40x40@3x</string>
					<string>AppIcon-Electric-Blue29x29@2x</string>
					<string>AppIcon-Electric-Blue60x60@3x</string>
					<string>AppIcon-Electric-Blue20x20~ipad</string>
					<string>AppIcon-Electric-Blue76x76~ipad</string>
					<string>AppIcon-Electric-Blue76x76@2x~ipad</string>
					<string>AppIcon-Electric-Blue29x29@3x</string>
					<string>AppIcon-Electric-Blue20x20@2x</string>
					<string>AppIcon-Electric-Blue20x20@3x</string>
					<string>AppIcon-Electric-Blue40x40@2x</string>
				</array>
			</dict>
			<key>AppIcon-Electric-Pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Electric-Pink20x20@2x~ipad</string>
					<string>AppIcon-Electric-Pink29x29~ipad</string>
					<string>AppIcon-Electric-Pink40x40@2x~ipad</string>
					<string>AppIcon-Electric-Pink83.5x83.5@2x~ipad</string>
					<string>AppIcon-Electric-Pink40x40~ipad</string>
					<string>AppIcon-Electric-Pink29x29@2x~ipad</string>
					<string>AppIcon-Electric-Pink60x60@2x</string>
					<string>AppIcon-Electric-Pink60x60@2x</string>
					<string>AppIcon-Electric-Pink60x60@3x</string>
					<string>AppIcon-Electric-Pink40x40@3x</string>
					<string>AppIcon-Electric-Pink29x29@2x</string>
					<string>AppIcon-Electric-Pink60x60@3x</string>
					<string>AppIcon-Electric-Pink20x20~ipad</string>
					<string>AppIcon-Electric-Pink76x76~ipad</string>
					<string>AppIcon-Electric-Pink76x76@2x~ipad</string>
					<string>AppIcon-Electric-Pink29x29@3x</string>
					<string>AppIcon-Electric-Pink20x20@2x</string>
					<string>AppIcon-Electric-Pink20x20@3x</string>
					<string>AppIcon-Electric-Pink40x40@2x</string>
				</array>
			</dict>
			<key>AppIcon-Halloween</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Halloween</string>
					<string>AppIcon-Halloween-152</string>
				</array>
			</dict>
			<key>AppIcon-Indigo</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Indigo20x20@2x~ipad</string>
					<string>AppIcon-Indigo29x29~ipad</string>
					<string>AppIcon-Indigo40x40@2x~ipad</string>
					<string>AppIcon-Indigo83.5x83.5@2x~ipad</string>
					<string>AppIcon-Indigo40x40~ipad</string>
					<string>AppIcon-Indigo29x29@2x~ipad</string>
					<string>AppIcon-Indigo60x60@2x</string>
					<string>AppIcon-Indigo60x60@2x</string>
					<string>AppIcon-Indigo60x60@3x</string>
					<string>AppIcon-Indigo40x40@3x</string>
					<string>AppIcon-Indigo29x29@2x</string>
					<string>AppIcon-Indigo60x60@3x</string>
					<string>AppIcon-Indigo20x20~ipad</string>
					<string>AppIcon-Indigo76x76~ipad</string>
					<string>AppIcon-Indigo76x76@2x~ipad</string>
					<string>AppIcon-Indigo29x29@3x</string>
					<string>AppIcon-Indigo20x20@2x</string>
					<string>AppIcon-Indigo20x20@3x</string>
					<string>AppIcon-Indigo40x40@2x</string>
				</array>
			</dict>
			<key>AppIcon-Plus</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Plus20x20@2x~ipad</string>
					<string>AppIcon-Plus29x29~ipad</string>
					<string>AppIcon-Plus40x40@2x~ipad</string>
					<string>AppIcon-Plus83.5x83.5@2x~ipad</string>
					<string>AppIcon-Plus40x40~ipad</string>
					<string>AppIcon-Plus29x29@2x~ipad</string>
					<string>AppIcon-Plus60x60@2x</string>
					<string>AppIcon-Plus60x60@2x</string>
					<string>AppIcon-Plus60x60@3x</string>
					<string>AppIcon-Plus40x40@3x</string>
					<string>AppIcon-Plus29x29@2x</string>
					<string>AppIcon-Plus60x60@3x</string>
					<string>AppIcon-Plus20x20~ipad</string>
					<string>AppIcon-Plus76x76~ipad</string>
					<string>AppIcon-Plus76x76@2x~ipad</string>
					<string>AppIcon-Plus29x29@3x</string>
					<string>AppIcon-Plus20x20@2x</string>
					<string>AppIcon-Plus20x20@3x</string>
					<string>AppIcon-Plus40x40@2x</string>
				</array>
			</dict>
			<key>AppIcon-Pocket-Cats</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Pocket-Cats20x20@2x~ipad</string>
					<string>AppIcon-Pocket-Cats29x29~ipad</string>
					<string>AppIcon-Pocket-Cats40x40@2x~ipad</string>
					<string>AppIcon-Pocket-Cats83.5x83.5@2x~ipad</string>
					<string>AppIcon-Pocket-Cats40x40~ipad</string>
					<string>AppIcon-Pocket-Cats29x29@2x~ipad</string>
					<string>AppIcon-Pocket-Cats60x60@2x</string>
					<string>AppIcon-Pocket-Cats60x60@2x</string>
					<string>AppIcon-Pocket-Cats60x60@3x</string>
					<string>AppIcon-Pocket-Cats40x40@3x</string>
					<string>AppIcon-Pocket-Cats29x29@2x</string>
					<string>AppIcon-Pocket-Cats60x60@3x</string>
					<string>AppIcon-Pocket-Cats20x20~ipad</string>
					<string>AppIcon-Pocket-Cats76x76~ipad</string>
					<string>AppIcon-Pocket-Cats76x76@2x~ipad</string>
					<string>AppIcon-Pocket-Cats29x29@3x</string>
					<string>AppIcon-Pocket-Cats20x20@2x</string>
					<string>AppIcon-Pocket-Cats20x20@3x</string>
					<string>AppIcon-Pocket-Cats40x40@2x</string>
				</array>
			</dict>
			<key>AppIcon-Radioactive</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Radioactive20x20@2x~ipad</string>
					<string>AppIcon-Radioactive29x29~ipad</string>
					<string>AppIcon-Radioactive40x40@2x~ipad</string>
					<string>AppIcon-Radioactive83.5x83.5@2x~ipad</string>
					<string>AppIcon-Radioactive40x40~ipad</string>
					<string>AppIcon-Radioactive29x29@2x~ipad</string>
					<string>AppIcon-Radioactive60x60@2x</string>
					<string>AppIcon-Radioactive60x60@2x</string>
					<string>AppIcon-Radioactive60x60@3x</string>
					<string>AppIcon-Radioactive40x40@3x</string>
					<string>AppIcon-Radioactive29x29@2x</string>
					<string>AppIcon-Radioactive60x60@3x</string>
					<string>AppIcon-Radioactive20x20~ipad</string>
					<string>AppIcon-Radioactive76x76~ipad</string>
					<string>AppIcon-Radioactive76x76@2x~ipad</string>
					<string>AppIcon-Radioactive29x29@3x</string>
					<string>AppIcon-Radioactive20x20@2x</string>
					<string>AppIcon-Radioactive20x20@3x</string>
					<string>AppIcon-Radioactive40x40@2x</string>
				</array>
			</dict>
			<key>AppIcon-Red-Velvet</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Red-Velvet20x20@2x~ipad</string>
					<string>AppIcon-Red-Velvet29x29~ipad</string>
					<string>AppIcon-Red-Velvet40x40@2x~ipad</string>
					<string>AppIcon-Red-Velvet83.5x83.5@2x~ipad</string>
					<string>AppIcon-Red-Velvet40x40~ipad</string>
					<string>AppIcon-Red-Velvet29x29@2x~ipad</string>
					<string>AppIcon-Red-Velvet60x60@2x</string>
					<string>AppIcon-Red-Velvet60x60@2x</string>
					<string>AppIcon-Red-Velvet60x60@3x</string>
					<string>AppIcon-Red-Velvet40x40@3x</string>
					<string>AppIcon-Red-Velvet29x29@2x</string>
					<string>AppIcon-Red-Velvet60x60@3x</string>
					<string>AppIcon-Red-Velvet20x20~ipad</string>
					<string>AppIcon-Red-Velvet76x76~ipad</string>
					<string>AppIcon-Red-Velvet76x76@2x~ipad</string>
					<string>AppIcon-Red-Velvet29x29@3x</string>
					<string>AppIcon-Red-Velvet20x20@2x</string>
					<string>AppIcon-Red-Velvet20x20@3x</string>
					<string>AppIcon-Red-Velvet40x40@2x</string>
				</array>
			</dict>
			<key>AppIcon-Round</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Round60x60@2x</string>
					<string>AppIcon-Round29x29@2x~ipad</string>
					<string>AppIcon-Round60x60@2x</string>
					<string>AppIcon-Round60x60@3x</string>
					<string>AppIcon-Round29x29@2x</string>
					<string>AppIcon-Round20x20@2x~ipad</string>
					<string>AppIcon-Round83.5x83.5@2x~ipad</string>
					<string>AppIcon-Round29x29@3x</string>
					<string>AppIcon-Round40x40@3x</string>
					<string>AppIcon-Round29x29~ipad</string>
					<string>AppIcon-Round60x60@3x</string>
					<string>AppIcon-Round76x76@2x~ipad</string>
					<string>AppIcon-Round40x40~ipad</string>
					<string>AppIcon-Round40x40@2x</string>
					<string>AppIcon-Round20x20@2x</string>
					<string>AppIcon-Round20x20~ipad</string>
					<string>AppIcon-Round40x40@2x~ipad</string>
					<string>AppIcon-Round20x20@3x</string>
					<string>AppIcon-Round76x76~ipad</string>
				</array>
			</dict>
			<key>AppIcon-Round-Dark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Round-Dark20x20@2x~ipad</string>
					<string>AppIcon-Round-Dark29x29~ipad</string>
					<string>AppIcon-Round-Dark40x40@2x~ipad</string>
					<string>AppIcon-Round-Dark83.5x83.5@2x~ipad</string>
					<string>AppIcon-Round-Dark40x40~ipad</string>
					<string>AppIcon-Round-Dark29x29@2x~ipad</string>
					<string>AppIcon-Round-Dark60x60@2x</string>
					<string>AppIcon-Round-Dark60x60@2x</string>
					<string>AppIcon-Round-Dark60x60@3x</string>
					<string>AppIcon-Round-Dark40x40@3x</string>
					<string>AppIcon-Round-Dark29x29@2x</string>
					<string>AppIcon-Round-Dark60x60@3x</string>
					<string>AppIcon-Round-Dark20x20~ipad</string>
					<string>AppIcon-Round-Dark76x76~ipad</string>
					<string>AppIcon-Round-Dark76x76@2x~ipad</string>
					<string>AppIcon-Round-Dark29x29@3x</string>
					<string>AppIcon-Round-Dark20x20@2x</string>
					<string>AppIcon-Round-Dark20x20@3x</string>
					<string>AppIcon-Round-Dark40x40@2x</string>
				</array>
			</dict>
			<key>AppIcon-Round-Pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Round-Pink20x20@2x~ipad</string>
					<string>AppIcon-Round-Pink29x29~ipad</string>
					<string>AppIcon-Round-Pink40x40@2x~ipad</string>
					<string>AppIcon-Round-Pink83.5x83.5@2x~ipad</string>
					<string>AppIcon-Round-Pink40x40~ipad</string>
					<string>AppIcon-Round-Pink29x29@2x~ipad</string>
					<string>AppIcon-Round-Pink60x60@2x</string>
					<string>AppIcon-Round-Pink60x60@2x</string>
					<string>AppIcon-Round-Pink60x60@3x</string>
					<string>AppIcon-Round-Pink40x40@3x</string>
					<string>AppIcon-Round-Pink29x29@2x</string>
					<string>AppIcon-Round-Pink60x60@3x</string>
					<string>AppIcon-Round-Pink20x20~ipad</string>
					<string>AppIcon-Round-Pink76x76~ipad</string>
					<string>AppIcon-Round-Pink76x76@2x~ipad</string>
					<string>AppIcon-Round-Pink29x29@3x</string>
					<string>AppIcon-Round-Pink20x20@2x</string>
					<string>AppIcon-Round-Pink20x20@3x</string>
					<string>AppIcon-Round-Pink40x40@2x</string>
				</array>
			</dict>
			<key>AppIcon-Halloween</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Halloween</string>
					<string>AppIcon-Halloween-152</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon29x29~ipad</string>
				<string>AppIcon60x60@3x</string>
				<string>AppIcon20x20@2x~ipad</string>
				<string>AppIcon29x29@2x</string>
				<string>AppIcon83.5x83.5@2x~ipad</string>
				<string>AppIcon60x60@2x</string>
				<string>AppIcon20x20@2x</string>
				<string>AppIcon20x20~ipad</string>
				<string>AppIcon40x40~ipad</string>
				<string>AppIcon29x29@3x</string>
				<string>AppIcon40x40@2x~ipad</string>
				<string>AppIcon40x40@3x</string>
				<string>AppIcon29x29@2x~ipad</string>
				<string>AppIcon1024x1024</string>
				<string>AppIcon20x20@3x</string>
				<string>AppIcon76x76~ipad</string>
				<string>AppIcon60x60@2x</string>
				<string>AppIcon40x40@2x</string>
				<string>AppIcon76x76@2x~ipad</string>
				<string>AppIcon60x60@3x</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Pocket Casts</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>au.com.shiftyjelly.podcasts</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pktc</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>org-appextension-feature-password-management</string>
		<string>fb</string>
		<string>tweetbot</string>
		<string>twitterrific</string>
		<string>twitter</string>
		<string>co.supertop.Castro-2</string>
		<string>overcast</string>
		<string>breaker</string>
		<string>wazecastbox</string>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>api.pocketcasts.com</key>
			<dict>
				<key>NSExceptionAllowInsecureHTTPLoads</key>
				<false/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<false/>
			</dict>
			<key>podcasts.shiftyjelly.com.au</key>
			<dict>
				<key>NSExceptionAllowInsecureHTTPLoads</key>
				<false/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<false/>
			</dict>
			<key>refresh.pocketcasts.com</key>
			<dict>
				<key>NSExceptionAllowInsecureHTTPLoads</key>
				<false/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Pocket Casts needs to access your bluetooth in order to detect nearby Google Cast devices.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_googlecast._tcp</string>
		<string>_2FA4D21B._googlecast._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>This allows you to add custom images to your files</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Pocket Casts uses this to find Google Cast devices on your network. If you don't use this feature feel free to say no.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Pocket Casts needs to access your microphone in order to detect nearby Google Cast devices.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Pocket Casts needs permission to save this image to your photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Pocket Casts needs permission to save this image to your photo library.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ChapterIntent</string>
		<string>INPlayMediaIntent</string>
		<string>SJChapterIntent</string>
		<string>SJExtendSleepTimerIntent</string>
		<string>SJOpenFilterIntent</string>
		<string>SJSleepTimerIntent</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>CPTemplateApplicationSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>CPTemplateApplicationScene</string>
					<key>UISceneConfigurationName</key>
					<string>Pocket Casts Car</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).CarPlaySceneDelegate</string>
				</dict>
			</array>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>UIWindowScene</string>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UIBrowsableContentSupportsSectionedBrowsing</key>
	<false/>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OPML Podcast File</string>
			<key>UTTypeIdentifier</key>
			<string>unofficial.opml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>opml</string>
				<key>public.mime-type</key>
				<string>text/x-opml</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
